.liambo__cv-content {
    font-family: var(--font-family);
    color: var(--colour-text);
}

.liambo__cv-content p {
    font-size: 20px;
    line-height: 27px;
}

.liambo__cv-content_title {
    margin-top: 2rem;
}

.liambo__cv-content_title p, h3 {
    display: inline;
    margin-right: 1rem;
}

.liambo__cv-content_intro {
    text-align: center;
}

.liambo__cv-content_education {
    background-color: #ccc;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 1rem;
}

.liambo__cv-content_eduation li {
    display: inline-block;
}

.liambo__cv-content_modules {
    margin-top: 1rem;
}

.liambo__cv-content_experience {
    background-color: #ccc;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 1rem;
}