@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  
  --colour-bg: #aaa;
  --colour-navbar : #000;
  --colour-title: #000
  --colour-text: #444;
}